h2 {
    margin-bottom: 20px;
    color: #405D72;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  input {
    margin-top: 10px;
  }
  

  .btn {
    width: 10%;
    padding: 10px;
    background-color: #758694;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn:hover:not([disabled]) {
    background-color: #405D72;
  }