.schedule-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #FFF8F3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

h2 {
    color: #405D72;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #405D72;
}

input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    background-color: #758694;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #405D72;
}
